name: Ping Supabase Service

on:
  schedule:
    - cron: "0 12 * * *"

  workflow_dispatch:

  push:
    branches:
      - main

jobs:
  ping-supabase:

    runs-on: ubuntu-latest
    steps:
      - name: Ping Supabase
        run: |
          curl -L -X GET '${{ env.SUPABASE_URL }}/functions/v1/ping' \
          -H 'Authorization: Bearer ${{ env.SUPABASE_PUBLISHABLE_KEY }}' \
          -H 'apikey: ${{ env.SUPABASE_PUBLISHABLE_KEY }}' \
          -H 'Content-Type: application/json'
        env:
          SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
          SUPABASE_PUBLISHABLE_KEY: ${{ secrets.SUPABASE_PUBLISHABLE_KEY }}


